
body{
  background: #f8f9fa;
  color: #000;
}

.navbar
{
  background: #fff;
}
.navbar-brand
{
  padding: 10px;
  background: #4285f4;
  color:#fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

a {
  color: #000000;
}
